{%extends 'base.html' %}
{% block title %}History{%endblock%}
{% block head %}{%endblock%}


{%block body%}
<!-- <section class="engine"><a href="https://mobirise.info">Mobirise</a></section> -->
<section class="mbr-section info3 cid-rXUHJpFQua" id="info3-t">
    <div class="container">
        <div class="row justify-content-center">
            <div class="media-container-column title col-12 col-md-10">
                <h2 class="align-left mbr-bold mbr-white pb-3 mbr-fonts-style display-2">OUR HISTORY</h2>
                <h3 class="mbr-section-subtitle align-left mbr-light mbr-white pb-3 mbr-fonts-style display-5">PROUD ABOUT THE PAST&nbsp;<br>CONFIDENT ABOUT THE FUTURE</h3>
                
                <div class="mbr-section-btn align-left py-4"><a class="btn btn-white-outline display-4" href="ccertificate.html">Charter Certificate</a></div>
            </div>
        </div>
    </div>
</section>
<section class="accordion2 cid-rXUKJP5zc2" id="accordion2-w"> 
    <div class="container">
        <div class="media-container-row pt-5">
            <div class="accordion-content">
                
                
                <div id="bootstrap-accordion_22" class="panel-group accordionStyles accordion pt-5 mt-3" role="tablist" aria-multiselectable="true">
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <a role="button" class="collapsed panel-title text-black" data-toggle="collapse" data-core="" href="#collapse1_22" aria-expanded="false" aria-controls="collapse1">
                                    <h4 class="mbr-fonts-style display-5">
                                        <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>Leo Clubs (Worldwide)</h4>
                                </a>
                            </div>
                            <div id="collapse1_22" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#bootstrap-accordion_22">
                                <div class="panel-body p-4">
                                    <p class="mbr-fonts-style panel-text display-7">

                                    The first Leo club was founded in 1957 by Jim Graver, the coach of the Abington High School, Pennsylvania baseball team. He was an active member of the Glenside Lions Club. The club was founded with the help of William Ernst, another Lion. It adopted the high school's colors of maroon and gold. The club also created the acronym Leadership, Equality, Opportunity for the word Leo. The word equality was later changed to experience.The club is now run by Mindy Katz. The Leo Club does community work all the time. In 1964 the Leo Club Program became a sponsored program of the Lions Clubs International. It grew beyond Pennsylvania and the United States of America. By 1967 the program had grown to over 200 clubs in 18 countries and become an official youth program of Lions Clubs International. In the following year, the Leo Club Program spread rapidly, more than quadrupling in size, to 918 clubs in 48 countries by the end of 1968.


                                    </p>
                                </div>
                            </div>
                        </div>
                
                        <div class="card">
                            <div class="card-header" role="tab" id="headingTwo">
                                <a role="button" class="collapsed panel-title text-black" data-toggle="collapse" data-core="" href="#collapse2_22" aria-expanded="false" aria-controls="collapse2">
                                    <h4 class="mbr-fonts-style mbr-fonts-style display-5">
                                        <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>&nbsp;Leo Chabahil</h4>
                                </a>
                                
                            </div>
                            <div id="collapse2_22" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#bootstrap-accordion_22">
                                <div class="panel-body p-4">
                                    <p class="mbr-fonts-style panel-text display-7">In the year 2004, Leo Club of Kathmandu Chabahil was formed by a team of 21 members. The initial planning phase was started from Pulchowk Engineering College, Bulbule. The first official meeting was conducted in a small party palace of Chabahil.
<br>Till date, there has been 15 legends of Leo Chabahil with unique leadership qualities. From which, we have been successful to achieve 11 "Best Club of the Year" Award.
<br>In the year 2008/09, Leo Kritan Gautam was the first Vice District President representing Leo Chabahil. Similarly, in 2010/11, Leo Sushil Shrestha was the first District President representing Leo Chabahil.</p>
                                </div>
                            </div>
                        </div>               
                        
                </div>
            </div>
            <div class="mbr-figure" style="width: 53%;">
                    <img src="/media/images/leologo.png" alt="logo" title="">
            </div>
        </div>
    </div>
</section>

{%endblock%}