{%extends 'base.html' %}
{% block title %}History{%endblock%}
{% block head %}{%endblock%}


{%block body%}
<!-- <section class="engine"><a href="https://mobirise.info">Mobirise</a></section> -->
<section class="mbr-section info3 cid-rXUHJpFQua" id="info3-t">
    <div class="container">
        <div class="row justify-content-center">
            <div class="media-container-column title col-12 col-md-10">
                <h2 class="align-left mbr-bold mbr-white pb-3 mbr-fonts-style display-2">OUR HISTORY</h2>
                <h3 class="mbr-section-subtitle align-left mbr-light mbr-white pb-3 mbr-fonts-style display-5">PROUD
                    ABOUT THE PAST&nbsp;<br>CONFIDENT ABOUT THE FUTURE</h3>

                <div class="mbr-section-btn align-left py-4"><a class="btn btn-white-outline display-4"
                        href="ccertificate.html">Charter Certificate</a></div>
            </div>
        </div>
    </div>
</section>
<section class="accordion2 cid-rXUKJP5zc2" id="accordion2-w">
    <div class="container">
        <div class="media-container-row pt-5">
            <div class="accordion-content">


                <div id="bootstrap-accordion_22" class="panel-group accordionStyles accordion pt-5 mt-3" role="tablist"
                    aria-multiselectable="true">
                    <div class="card">
                        <div class="card-header" role="tab" id="headingOne">
                            <a role="button" class="collapsed panel-title text-black" data-toggle="collapse"
                                data-core="" href="#collapse1_22" aria-expanded="false" aria-controls="collapse1">
                                <h4 class="mbr-fonts-style display-5">
                                    <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>Leo Clubs
                                    (Worldwide)
                                </h4>
                            </a>
                        </div>
                        <div id="collapse1_22" class="panel-collapse noScroll collapse" role="tabpanel"
                            aria-labelledby="headingOne" data-parent="#bootstrap-accordion_22">
                            <div class="panel-body p-4">
                                <p class="mbr-fonts-style panel-text display-7">

                                    The first Leo club was founded in 1957 by Jim Graver, the coach of the Abington High
                                    School, Pennsylvania baseball team. He was an active member of the Glenside Lions
                                    Club. The club was founded with the help of William Ernst, another Lion. It adopted
                                    the high school's colors of maroon and gold. The club also created the acronym
                                    Leadership, Equality, Opportunity for the word Leo. The word equality was later
                                    changed to experience.The club is now run by Mindy Katz. The Leo Club does community
                                    work all the time. In 1964 the Leo Club Program became a sponsored program of the
                                    Lions Clubs International. It grew beyond Pennsylvania and the United States of
                                    America. By 1967 the program had grown to over 200 clubs in 18 countries and become
                                    an official youth program of Lions Clubs International. In the following year, the
                                    Leo Club Program spread rapidly, more than quadrupling in size, to 918 clubs in 48
                                    countries by the end of 1968.


                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" role="tab" id="headingTwo">
                            <a role="button" class="collapsed panel-title text-black" data-toggle="collapse"
                                data-core="" href="#collapse2_22" aria-expanded="false" aria-controls="collapse2">
                                <h4 class="mbr-fonts-style mbr-fonts-style display-5">
                                    <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>&nbsp;Leo Bhalwari
                                    Youth
                                </h4>
                            </a>

                        </div>
                        <div id="collapse2_22" class="panel-collapse noScroll collapse" role="tabpanel"
                            aria-labelledby="headingTwo" data-parent="#bootstrap-accordion_22">
                            <div class="panel-body p-4">
                                <p style="    text-align: inherit;" class="mbr-fonts-style panel-text display-7">
                                    After being involved with an other LEO Club, our charter president LEO LION Arjun
                                    Singh Chaudhary had a vision to establish a LEO Club at Bhalwari Area with young
                                    blood and energy. He Jointly with MJF LION Archit Shrestha ( Charter President of
                                    LIONS Club Of Siddharthanagar Youth ) chartered LEO Club Of Bhalwari Youth (LCOBY)
                                    on December 22nd, 2016 with 22 young and energetic personnel from different sectors.
                                    We feel very proud to hold the title of 1st club to get established at Bhalwari
                                    Region while there were only local clubs. LCOBY has been working on many social
                                    sectors from the day of establishment. We have been very successful to encourage
                                    people to step forward to give back to society as well, As a result, now we have
                                    more than 2 other LEO clubs & 2 new LIONS club in our region, which has eventually
                                    provided more opportunities to youths to come forward and overcome their fear and
                                    get involved in social activities as well as form their network.
                                    <br><br>
                                    LCOBY has been widely recognized throughout the country because of its capability to
                                    work. LCOBY falls under LEO District Council 325 B2 and had been one of the top
                                    performing clubs ever since the first year. LCOBY has produced four great leaders,
                                    one of which is our honorable Charter President LEO LION Arjun Singh Chaudhary who
                                    held the post of president for year 2016-2018 and started the journey of ours. He
                                    has worked for LEO District 325 B2 for more than 2 years as a Region 14 Chairperson
                                    & as a District Tamer.<br><br>
                                    Our other admirable leader is LEO Govinda Banjade who contributed his dedication &
                                    hard work and followed the path created by our charter president and improvised it
                                    further. He held the position of president for year 2018-2019. During his tenure,
                                    LCOBY did a record breaking 47 programs and was awarded by the LEO District Council
                                    325 B2 for such commendable record. Presently he is the Area Chief of Area 4 which
                                    controls over 40 clubs in total and under his leadership, the face of Area 4 has
                                    changed unquestionably for the better.<br><br>
                                    LEO LION Sushil Gautam is another one of our respectful leaders who worked as a
                                    president through year 2019-2020. As we all know, with power comes responsibility
                                    and he had an immense pressure to work even better as a successor which was already
                                    a great challenge yet he successfully managed to tackle all the tasks and worked
                                    furiously for good results. He has worked with LEO District Council 325 B2 as a
                                    committee secretary of Suicide Prevention & Drug Awareness Committee.
                                    <br><br>
                                    Our most recent and praiseworthy leader is LEO Bikram Kharel who worked as a
                                    president through year 2020-2021. This year was very challenging to him and his team
                                    because of the global pandemic of Corona-virus (Covid-19). Even though we couldn’t
                                    conduct many of our programs physically, we have still conducted our programs either
                                    online or via awareness. However this pandemic came with its own set of problems
                                    because of the lockdown and still LCOBY feels very proud to be able to donate and
                                    work with people suffering from the lockdown and the virus itself. This year it has
                                    been all about safety, awareness, donations and medical checkup.<br>
                                
                               
                                    <b style="float: left;
                                    margin-bottom: 1rem;">AWARDS:</b>
                                    <br>
                                    LCOBY has successfully grasped all the awards provided by LEO District Council 325 B2, Nepal which are,
                                </p>
                                <ol>
                                <li>OUTSTANDING CLUB OF THE YEAR 2016 - 2019</li>
                                <li>OUTSTANDING PRESIDENT OF THE YEAR 2016 - 2019</li>
                                <li>OUTSTANDING SECRETARY OF THE YEAR 2016 – 2019</li>
                                <li>OUTSTANDING TREASURER OF THE YEAR 2016 – 2019</li>
                                </ol>






                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="mbr-figure" style="width: 53%;">
                <img src="/media/images/leologo.png" alt="logo" title="">
            </div>
        </div>
    </div>
</section>

{%endblock%}