{%extends 'base.html' %}
  {% block title %}Home{%endblock%}
  {% block head %}
  <style>
.cards-wrapper {
        display: flex;
        justify-content: center;
    }

    .card img {
        max-width: 100%;
        max-height: 100%;
    }

    .card {
        margin: 0 0.5em;
        box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
        border: none;
        border-radius: 0;
    }

    .carousel-inner {
        padding: 1em;
    }

    .carousel-control-prev,
    .carousel-control-next {
        background-color: #e1e1e1;
        width: 5vh;
        height: 5vh;
        border-radius: 50%;
        top: 50%;
        transform: translateY(-50%);
    }

    @media (min-width: 768px) {
        .card img {
            height: 11em;
        }
        
    }
    @media (max-width: 768px) {
        #recentshow {
padding-right: 3rem;
        }
    }
    
    #carouselExampleControls_5{
        padding-left: 3.1rem;
        margin-top: -40px;
    }

    #leftcar {
        /* background-color: #e1e1e1; */
        width: 5vh;
        height: 5vh;
        border-radius: 30%;
        top: 50%;
        transform: translateY(-50%);
         background-color: black;
     /*   
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 1rem;
        border: 1px solid black;
        border-radius: 30%; */
    }

    #rightcar {
        width: 5vh;
        height: 5vh;
        border-radius: 50%;
        top: 50%;
        transform: translateY(-50%);
         background-color: black;
         margin-right: 1rem;
       /* height: 2rem;
        width: 3rem;
        margin-top: auto;
        margin-bottom: auto;
        
        border: 1px solid black;
        border-radius: 30%; */
    }

    .gg-chevron-right-o {
        box-sizing: border-box;
        position: relative;
        display: block;
        transform: scale(var(--ggs, 1));
        width: 22px;
        height: 22px;
        border: 2px solid;
        border-radius: 100px
    }

    .gg-chevron-right-o::after {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        width: 6px;
        height: 6px;
        border-bottom: 2px solid;
        border-right: 2px solid;
        transform: rotate(-45deg);
        left: 5px;
        top: 6px
    }

    .gg-chevron-left-o {
        box-sizing: border-box;
        position: relative;
        display: block;
        transform: scale(var(--ggs, 1));
        width: 22px;
        height: 22px;
        border: 2px solid;
        border-radius: 100px
    }

    .gg-chevron-left-o::after {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        width: 6px;
        height: 6px;
        border-bottom: 2px solid;
        border-left: 2px solid;
        transform: rotate(45deg);
        left: 7px;
        top: 6px
    }

    #recentshow {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contact {
        background-image: url(/media/images/find-us-on-facebook-like-us-on-facebook.png);
        width: 15rem;
        height: 3.4rem;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .mainwin {
        height: 32rem;
        padding-top: 105px;
        padding-bottom: 45px;
        background-image: url("/media/images/images-28685978-1669890319724509-4559293068700913083.jpg");
    }
    .mainwin H3 {
        text-align: right;
    }
  </style>
  {%endblock%}
  {%block body%}
    <section class="header1 mainwin mbr-parallax-background" id="header1-1o">
        <div class="mbr-overlay" style="opacity: 0.35;">
            <!-- opacity: 0.2; background-color: rgb(20, 157, 204); -->
        </div>
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="mbr-white col-md-10">

                    <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-2"><strong>Where
                            There’s a Need, <br>There’s a Leo</strong></h3>
                    <!-- <p class="mbr-text align-center pb-3 mbr-fonts-style display-5">
                        If you’re a young person interested in joining a Leo club of Bhalwari Youth, reach out to
                        our contact below to get more information.
                    </p>
                    <div class="mbr-section-btn align-center"><a class="btn btn-md btn-primary display-4 contact"
                            href="https://www.facebook.com/LC0BY" target="_blank">
                            </a></div> -->
                </div>
            </div>
        </div>
    </section>
    <section style="padding-top: 15px;padding-bottom: 20px;" class="header7 cid-rY1HuUKOW1" id="header7-1j">
           <div class="container mb-5">
            <div class="media-container-row">
                <div class="col-12 align-center">
                    <h2 class="mbr-section-title pb-3 mbr-fonts-style display-2"><strong>Recent activities</strong></h2>
                    
                </div>
            </div>
        </div>
            <div id="carouselExampleControls_5" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">

                <div class="carousel-item active">
                    {%for j in product %}
                    <div class="cards-wrapper ">
                        {%for i in j %}
                        {%if forloop.first%}
                        <div class="card" style="width: 14.5rem;" >
                        {%else%}
                        <div class="card d-none d-md-block" style="width: 16rem;" >
                        {%endif%}
                            <img src="/media/{{i.image}}" class="card-img-top"
                                alt="bootstrap-multiple-items-carousel-slide-1-card-3">
                            <div class="card-body">
                                <h5 class="card-title">{{i.title|truncatechars:20}}</h5>
                                <p class="card-text">{{i.string|truncatechars:120}}</p>

                            </div>
                        </div>
                        {%endfor%}
                        {% if forloop.counter > 0 and not forloop.last %}

                    </div>
                </div>
                <div class="carousel-item">

                    {%endif%}
                    {%endfor%}
                </div>
            </div>
        </div>

        <a id="leftcar" class="carousel-control-prev" href="#carouselExampleControls_5" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a id="rightcar" class="carousel-control-next" href="#carouselExampleControls_5" role="button"
            data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <div id="recentshow" >
            <a href="/services" class="btn btn-primary-outline display-4">Show More</a>
        </div>
    </div>
 </div>
    </section>
    <section class="testimonials4 cid-rXUjsgOGWE" id="testimonials4-d">
        <div class="container">
            <div class="col-md-10 testimonials-container">
                {% for testa in testas %}
                <div class="testimonials-item">
                    <div class="user row">
                        <div class="col-lg-3 col-md-4">
                            <div style="width: 184px;height: 157px;" class="user_image">
                                <img src="/media/{{testa.image}}" alt="" title="">
                            </div>
                        </div>
                        <div class="testimonials-caption col-lg-9 col-md-8">
                            <div class="user_text">
                                <p class="mbr-fonts-style  display-7">{{testa.testimonial_string}}&nbsp;<br></p>
                            </div>
                            <div class="user_name mbr-bold mbr-fonts-style align-left pt-3 display-7">{{testa.said_by | title}}
                            </div>
                            <div class="user_desk mbr-light mbr-fonts-style align-left pt-2 display-7">
                                <strong>{{testa.post | upper}}</strong>
                            </div>
                        </div>
                    </div>
                </div>

                {%endfor%}
            </div>
        </div>
    </section>

    <section class="services2 cid-rXUkXjFzWr" id="services2-e">
        <div class="container">
            <div class="col-md-12">
                <div class="media-container-row">
                    <div class="mbr-figure" style="width: 30%;">
                        <img src="/media/images/charter_president.jpg" alt="Charter President" title="अर्जुन सिंह चौधरी">
                    </div>
                    <div class="align-left aside-content">
                        <h2 class="mbr-title pt-2 mbr-fonts-style display-5">Charter President</h2>
                        <div class="mbr-section-text">
                            <p class="mbr-text text1 pt-2 mbr-light mbr-fonts-style display-7">
                                यहाँ हरु लाई नमस्कार म लियो क्लब अफ भलबारी युथ को संस्थापक अध्यक्ष लियो अर्जुन सिंह चौधरी र मेरो बसाई रुपन्देही जिल्ला, तिलोत्तमा नगरपालिका वार्ड नंवर ७  भलबारी।<br>
म सन् २०१२ मा लियो क्लब अफ बुटवल खसौली को सदस्य बन्न पुगे मेरो प्यारो मित्र लियो प्रदीप भट्टराई ज्यू को मार्फत जहाँ मैले लियो को बारे मा जान्न र बुझ्न पाएँ र उक्त क्लबमा मार्फत धेरै कार्यक्रममा समावेश हुने अवसर पाइयो ।
 कार्यक्रमहरु मा हिड्ने क्रम मा म SYNERGEY YOUTH CAMP पुगे जहाँ मेरो आफ्नो गाउँ ठाउँ मा पनि एउटा क्लब खोल्नु पर्छ भन्ने साथी हरु सँग मेरो सल्लाह भयो र यहाँ बाट एउटा क्लब को मुहार कोरियो। 
 नयाँ लियो क्लब दर्ता का निमित्त कुनै एउटा लायन्स क्लब ले स्पोन्सर गर्नु पर्ने हुन ले म क्लब खोल्ने क्रम मा लागे र मेरो भेट येम. जे. एफ. लायन अर्चित श्रेष्ठ दाजु सँग भेट भयो र उहाँ ले पनि त्यसै वर्ष नयाँ क्लब लायन्स क्लब अफ सिद्धार्थनगर युथ खोल्दै हुनु हुन्थ्यो।
  मैले उहाँ सँग माग गरे कि हाम्रो नयाँ क्लब को नाम मा मलाई भलबारी चाहिन्छ जुन मैले अरू लयनसँग माग्दा पाएको थिएन र उहाँ ले भन्नु भयो ठीक छ तिमी आफ्नो भलबारी राख अनि हाम्रो युथ रखा र  यसरी हाम्रो क्लब को स्थापना भयो सन् २०१६ डिसेम्बर २२ का दिन लियो क्लब अफ भलबारी युथ भनेर ।
क्लव दर्ता गर्दा हामी २२ सदस्य मिलेर गरेका थियौं र क्लव दर्ता भएको पहिलो सप्ताह मा हामी ले एकै दिन २ वटा कार्यक्रम सँग सुवारम्भा गरेऊ जुन थिए सरसफाइ कार्यक्रम भलबारी चोक मा र अर्को कार्यक्रम पलङ वितरण (नेपाल अपाङ्ग आश्रम , बेलबस) जहाँ हामी ले ४वटा पलङ दिएका थियौ ।
 क्लव को सचिवालय पान हामी ले गठन गरेउ दर्ता को पहिलो महिना मै जुन म आफै लाई गर्भ लाग्छ । यसरी नै हामी कार्यक्रम गर्दै अगाडि बढ्यौं र पहिलो वर्ष मा २५ र दोस्रो वर्ष पनि मैले नै अध्यक्षता को भुमिका निर्वाह गरे र दोस्रो वर्ष ३४ वटा कार्यक्रम गर्न सफल भइयो । 
 लिओ क्लव अफ भलबारी युथ ले सानो समय मा सफलता को बाटो हिँड्न सफल भयो र अहिले क्लव को ५ वर्ष भयो र प्रत्येक वर्ष वेस्ट अध्यक्ष,सचिव,कोषाध्यक्ष लिओ जिल्ला ३२५ वि २ वटा सम्मानित भै आइरहेका छौं ।
 हाम्रो क्लव ले अहिले सम्म प्रत्येक वर्ष गरी आइरहेको कार्यक्रम मध्य तीज गीत प्रतियोगिता,देउसी भैलो,क्यालेन्डर,सहयोग जस्ता धेरै कार्यक्रम गर्दै आइरहेका छौं ।<br><br>
     सबै क्लव मा उतार चढाव आउँछ र हाम्रो क्लव मा पनि त्यो मोड आएको थियो र भन्छन नी नराम्रो समय लाई पन्छाउँदै अगाडि बढ्नु नै सफल क्लव को निशानी हो र हामी अहिले लियो जिल्ला परिषद् ३२५ वि २ को गन्निएको क्लव मध्य एक हाऊ ।
      अहिले हाम्रो सम्पूर्ण ३ वटै पूर्व अध्यक्ष लिओ जिल्ला परिषद् को विभिन्न पद मा रहेर काम गरिरहेका छौं र भविष्य मा पनि हाम्रो क्लव ले आजै शीर्ष स्तन र रहेर समाज सेवा अग्रसर रहने नै छ बन्दै क्लव को उत्तर उत्तर पर्गती हुँदै जाओस् भन्दै मेरा शब्द यही टुंग्याउन चाहन्छु । जय लिओ जय देश ।।(लियो अर्जुन सिंह चौधरी)

      &nbsp;</p>
                        </div>

                </div>
                
            </div>
            <br>
        </div>
        
    </section>

    <section class="services2 cid-rXUkXjFzWr" id="services2-e">
        <div class="container">
            <div class="col-md-12">
                <div class="media-container-row">
                    <div class="mbr-figure" style="width: 30%;">
                        <img src="/media/images/IMG_2114.jpg" alt="Past President" title="गोविन्द बन्जाडे">
                    </div>
                    <div class="align-left aside-content">
                        <h2 class="mbr-title pt-2 mbr-fonts-style display-5">Past President</h2>
                        <div class="mbr-section-text">
                            <p class="mbr-text text1 pt-2 mbr-light mbr-fonts-style display-7">
                                सन २०१६ डिसेम्बर २२ गते का दिन हामी सेवा गर्दछौं भन्ने लयसनवादको अन्तराष्ट्रिय मूल मंत्रलाई आत्मसाथ गर्दै तिलोत्तमा क्षेत्रका यूवा/ युवतीलाई संगठित
                                 गरी सामाजिक तथा नेतृत्व र ब्यक्तित्व बिकासमा अग्रसर गराउने उद्देश्यका साथ संस्थापक अध्यक्ष अर्जुन सिंह चौधरी तथा २२ जना सदस्यका नेतृत्वमा साक्षि 
                                 क्लब लियो क्लब अफ सिद्धार्थनगर युथको स्पोन्सरसीपमा यस क्लब को स्थापना भयो र यस क्लब ले स्थानाकालदेखि नै आफ्नो छुट्टै पहिचान बनाउन सफल भयो ।
                                 <br>
                                 <br>
तिलोत्तमा को मध्य भाग मा पर्ने भलवारी मा जुन समय यस क्लब को स्थापना गरियो त्यो बेला सम्म यो स्थान मा न कुनै लायन्स क्लब थियो र न कुनै लियो क्लब नै थियो ।
 हाम्रा संस्थापक अध्यक्ष को भीजन अनुसार क्लब को स्थापना काल देखि नै आफ्नो छुट्टै पहिचान बनाउदै जिल्ला परिषद् ३२५ बि २ मा उच्च राख्दै आफ्नो नाम चिनाउन सफल भयो ।
<br>
<br>
मलाई यस संस्थाको तेस्रो तथा सन् २०१८/१९ को अध्यक्ष जस्तो जिममेवारी तथा गरिमामय पद मा नियुक्त गरियो ।
 आफू अध्यक्ष हुँदै गर्दा पूर्व अध्यक्षको कार्ययोजना लाई आत्मसाथ गर्दै निरन्तरता दिनु  सहज भनी पक्कैपनि भएन र आफ्नो सदस्य माथि मलाई पूर्ण विश्वास 
 थियो र त्यही विश्वास अनुसार नै कार्ययोजना बनाइयो र कार्यकाल सफल भएको अनुभूति गर्दछु । म आफू अध्यक्ष भइरहँदा दिनको १० मिनेट समय क्लब 
 को बारेमा चिन्तन र सदस्य हरु को पूर्ण बिश्वास ले नै मेरो कार्यकाल सफल भएको महसूस हुन्छ । म आज जुन स्थानमा छु त्यसको सम्पूर्ण  स्नेह लियो क्लव अफ भलवारी युथ लाई दिन चाहन्छु ।
  मेरो नेतृत्वमा होस् या ब्यक्तित्वमा जे जति सकारात्मक परिवर्तन आयो त्यो सबको   श्र्ये लियो क्लव अफ भलवारी युथ लाई दिन चाहन्छु । 
<br>
<br>
सन २०१६ बाट आज सम्म आइपुग्दा यति समयमा क्लब ले विभिन्न योग्य ब्यक्तित्वबाट  नेतृत्व पाइसकेको छ र सम्पूर्ण नेतृत्वबाट यस संस्थाको गौरव तथा मान बढेको अनुभूति हुन्छ र यस संस्थालाई आगामी 
दिन हरुमा यस्तै प्रगाति को आशा राख्दै उच्च सफलता को सुभकामना दिन चाहन्छु । (लियो गोविन्द बन्जाडे)
&nbsp;</p>
                        </div>
                </div>
                
            </div>
            <br>
        </div>
        
    </section>

    <section class="team1 cid-rY2wbPUUKx" id="team1-1q">


        <div class="container align-center">
            <h2 class="pb-3 mbr-fonts-style mbr-section-title display-2"><strong>
                    OUR CORE ADVISORS</strong></h2>
            <div class="row media-row">
                {%for advisor in advisors%}
                <div class="team-item col-lg-3 col-md-6">
                    <div class="item-image">
                        <img src="/media/{{advisor.advisor_image}}" alt="" width="255" height="355"
                            title="">
                    </div>
                    <div class="item-caption py-3">
                        <div class="item-name px-2">
                            <p class="mbr-fonts-style display-7"><strong>{{advisor.advisor_name | title}}</strong></p>
                        </div>
                        <div class="item-role px-2">
                            <p>{{advisor.advisor_post}}</p>
                        </div>

                    </div>
                </div>
                {%endfor%}

            </div>
        </div>
    </section>

    <section class="cid-rXUnUGfpuC" id="footer1-h">

        <div class="container">
            <div class="media-container-row content text-white">
                <div class="col-12 col-md-3">
                    <div class="media-wrap">
                        <a href="">
                            <img src="/media/images/leoclub.jpg" style="border-radius: 26%;height: 10rem;" alt="logo" title="">
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-3 mbr-fonts-style display-7">
                    <h5 class="pb-3">
                        Address
                    </h5> 
                    
                    <p class="mbr-text">Tilottama 7, <br>Bhalwari
                        Rupandehi, Nepal </p>
                </div>
                <div class="col-12 col-md-3 mbr-fonts-style display-7">
                    <h5 class="pb-3">
                        Contacts
                    </h5>
                    <p class="mbr-text">Phone:  +977-9867193887</p>
                    <p>
                        Email: lcobyouth@gmail.com<br></p>
                    <p></p>
                </div>
                <div class="col-12 col-md-3 mbr-fonts-style display-7">
                    <h5 class="pb-3">
                        Links
                    </h5>
                    <p class="mbr-text"><a href="https://lionsclubs.org/en" target="_blank" class="text-white">Lions
                            International</a></p>
                </div>
            </div>

        </div>
    </section>
    
    {%endblock%}
