
  {%extends 'base.html' %}
  {% block title %}Our Team{%endblock%}
  {% block head %}<link href='https://css.gg/facebook.css' rel='stylesheet'>{%endblock%}


  {%block body%}
  <section class="mbr-section info3 cid-rXZX6EU5jc" id="info3-1c">
    <div class="container">
        <div class="row justify-content-center">
            <div class="media-container-column title col-12 col-md-10">
                <h2 class="align-left mbr-bold mbr-white pb-3 mbr-fonts-style display-2">OUR TEAM</h2>
                <h3 class="mbr-section-subtitle align-left mbr-light mbr-white pb-3 mbr-fonts-style display-5">"Empowering Youth"&nbsp;<br><strong>L.Y. <span id="emyear"></span></strong></h3>
                
                
            </div>
        </div>
    </div>
</section>
<script>
    let yr = document.getElementById('emyear');
    let fullyear=new Date().getFullYear();
    yr.innerText = `${fullyear}/${Number((String(fullyear)).slice(2))+1}`
</script>

<section class="team1 cid-rXZXaxcAh9" id="team1-1d">
    
    
    
    <div class="container align-center">
        <!-- <h2 class="pb-3 mbr-fonts-style mbr-section-title display-2"><strong>BOARD OF DIRECTORS</strong></h2> -->
        <div class="row media-row">
            {%for top in tops%}
        <div class="team-item col-lg-3 col-md-6">
                <div class="item-image">
                    <img src="/media/{{top.image}}" width="257" height="173" alt="" title="">
                </div>
                <div class="item-caption py-3">
                    <div class="item-name px-2">
                        <p class="mbr-fonts-style display-7"><strong>{{top.name}}</strong></p>
                    </div>
                    <div class="item-role px-2">
                        <p>{{top.post}}</p>
                    </div>
                    <div class="item-social pt-2">
                        <a href="{{top.facebook_link}}" target="_blank">
                            <span><i class="gg-facebook"></i></span>
                        </a>
                    </div>
                </div>
            </div>  
             {%endfor%}
            </div>  
        
        <div class="row media-row">
            {%for bod in bods%}
        <div class="team-item col-lg-3 col-md-6">
                <div class="item-image">
                    <img src="/media/{{bod.image}}" width="255" height="170" alt="" title="">
                </div>
                <div class="item-caption py-3">
                    <div class="item-name px-2">
                        <p class="mbr-fonts-style display-7"><strong>{{bod.name}}</strong></p>
                    </div>
                    <div class="item-role px-2">
                        <p>{{bod.post}}</p>
                    </div>
                    <div class="item-social pt-2">
                        <a href="{{bod.facebook_link}}" target="_blank">
                            <span><i class="gg-facebook"></i></span>
                        </a>
                    </div>
                </div>
            </div>  
             {%endfor%}
            </div>  
    </div>
</section>







<!-- 
<section class="team1 cid-rXZXcg4Miw" id="team1-1g">
    
    <div class="container align-center">
        <h2 class="pb-3 mbr-fonts-style mbr-section-title display-2"><strong>COMMITTEE</strong></h2>
        
        <div class="row media-row">
            {%for com in committees%}
        <div class="team-item col-lg-3 col-md-6">
                <div class="item-image">
                    <img src="/media/{{com.image}}" alt="" title="">
                </div>
                <div class="item-caption py-3">
                    <div class="item-name px-2">
                        <p class="mbr-fonts-style display-7"><strong>{{com.name}}</strong></p>
                    </div>
                    <div class="item-role px-2">
                        <p>{{com.post}}</p>
                    </div>
                    <div class="item-social pt-2">
                        <a href="{{com.facebook_link}}" target="_blank">
                            <span><i class="gg-facebook"></i></span>
                        </a>
                    </div>
                </div>
            </div>  
            {%endfor%}
        </div>  
    </div>
</section> -->

{%endblock%}